In [1]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\parag\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\parag\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\parag\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\parag\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\parag\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\parag\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [18]:
data = {
    'students': ["amit" ,"rahul","john","Steve","abdul "],
    'Ranks' : [ 1, 3, 2, 4 , 5 ],
    'marks' : [ 95, 90, 94, 89,88]}
    
res= pd.DataFrame(data)


print("Students Records\n\n",res)

Students Records

   students  Ranks  marks
0     amit      1     95
1    rahul      3     90
2     john      2     94
3    Steve      4     89
4   abdul       5     88

In [22]:
data={
    'name':[ "priya","Riya","Varsha","Rani","Vaishanvi"],
    'score': ["45","55,","59","57","58"],
    'Ranks': ["5","4","1","3","2"],
    'Grade':["E","D","A","C","B"] }

res= pd.Dataframe(data)

print("Name records\n\n",res)

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [23]:
import pandas as pd

In [27]:
data={
    'name':[ "priya","Riya","Varsha","Rani","Vaishanvi"],
    'score': ["45","55","59","57","58"],
    'Ranks': ["5","4","1","3","2"],
    'Grade':["E","D","A","C","B"] }

res= pd.DataFrame(data)

print("Name records\n\n",res)

Name records

         name score Ranks Grade
0      priya    45     5     E
1       Riya    55     4     D
2     Varsha    59     1     A
3       Rani    57     3     C
4  Vaishanvi    58     2     B

In [29]:
data = {
    'name' : ["Akhil","Nikhil","Akash","Aniket","Rahul"],
    'Age'  : ["27","27","27","27","27"],
    'Salary': ["45,000","40,000","65,000","60,000","50,000"],
    'Native Place' : [ "Betul","Nagpur","Kolhapur","Reva","Satna"]}

res=pd.DataFrame(data)

print("Name records\n\n",res)

Name records

      name Age  Salary Native Place
0   Akhil  27  45,000        Betul
1  Nikhil  27  40,000       Nagpur
2   Akash  27  65,000     Kolhapur
3  Aniket  27  60,000         Reva
4   Rahul  27  50,000        Satna

In [ ]:
import pandas as pd

In [8]:
Data ={ 
       'name' : ["rahul","mayur","sanket","chirag","Pratik"],
        'age' : ["25","26","27","28","29"],
 'fav Cartoon': ["pokemon","digimon","nijas","tiger","bayblade"],
'blood group' : ["A+","AB","B+","O+","O-"],
'Native place': [ "nagpur","kolhapur","morshi","latur","Katol"] }
    
res = pd.DataFrame(Data)
print("name records\n\n",res)

name records

      name age fav Cartoon blood group Native place
0   rahul  25     pokemon          A+       nagpur
1   mayur  26     digimon          AB     kolhapur
2  sanket  27       nijas          B+       morshi
3  chirag  28       tiger          O+        latur
4  Pratik  29    bayblade          O-        Katol